/* body{
    background-color: #292938;
} */
.main{
    display: inline-block;
}
.form{
   display: flex;
   justify-content: center;
    
}
.inputs{
    background-color: #292938;
}

.inputs:focus{
    background-color: #313141;
    color: white;       
}

.chat-container{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.message-input {
    background-color: #3F8EA6;
}